<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Flights Time Table</title>
</head>

<body>
    <header>
        <h1>Flights</h1>
        <%- include("./includes/nav.ejs", {token : token})%>
    </header>


    <% flight.forEach((flight) => { %>
        <div class="flight">
            <div class="flight-desc">
                <h2><%= flight.from %></h2>
                <p>$<%= flight.to %></p>
                <p> <%= flight.date %></p>
                <p>$<%= flight.price %></p>
                <p> <%= flight.company %></p>
                <button>
                    <a href="/api/flights/<%= flight.id %>">Details</a>
                </button>
            </div>
        </div>
        <% }); %>
</body>

</html>